.grid-container {
  display: grid;
  column-gap: 50px;
  row-gap: 50px;
  grid-template-columns: auto auto auto;
  color: #3dfffc;
}

@media all {
  .grid-container {
    grid-template-columns: auto;
  }

  .text {
    flex-direction: column;
    grid-template-columns: auto ;
  }

  .grid-item {
    text-align: center;
  }
}

.text {
  color: #3dfffc;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.link {
  color: yellow;
  align-items: center;
}

.techStack {
  text-align: center;
}

.description {
  color: white

}